body {
  font-family: 'Roboto';
}

a {
  color: #00B7FF;
}

.navbar-dark {
  background-color: #009688;
}

.btn-primary {
  background-color: #CDDC39;
  border: 1px solid #CDDC39;
}

.btn-primary:hover {
  background-color: #009688 !important;
  border: 1px solid #009688 !important;
}

main {
  padding-top: 20px;
  padding-left: 50px;
}

fieldset {
  margin: 5px;
}